body {
    background: url('../images/sfondologin.gif') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

fieldset {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    width: 300px;
}

label, input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

input[type="submit"] {
    width: auto;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
